@using DemoLibrary.Services.Book

@model BookQueryServiceModel
@{
    ViewBag.Title = "All Book";
}

<form method="get">
   <div class="row row-cols-2 row-cols-sm-3 g-4">
        @foreach (var book in Model.Books)
        {
            <div class="col">
                <div class="card">
                    <a href="/Book/Details?id=@book.Id"/>
                    <div class="card-img-top">
                        <img src="@Url.Content("~/Covers/images/"+book.CoverPath)" asp-append-version="true" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-dark">@book.Title</h5>
                            <p class="card-text">@book.Uploaded</p>
                            <p class="card-text"><small class="text-muted">@book.CreateYear</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item ">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item " aria-current="@Model.CurrentPage+1">
            <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
